<h1>dbChat</h1>

<h3>Send a message</h3>
<form ng-submit="ctrl.sendMessage(message)" class="row">
    <div class="form-group col-md-6">
        <label for="message">Message</label>
        <input id="message" type="text" class="form-control" ng-model="ctrl.message" />
    </div>
    <div class="form-group col-md-6">
        <label for="author">Author</label>
        <div class="input-group">
            <span class="input-group-addon">@</span>
            <input id="author" type="text" class="form-control" ng-model="ctrl.author" required />
        </div>
    </div>
    <div class="form-group col-md-3">
        <input type="submit" class="btn btn-primary" value="Send" />
    </div>
</form>

<h3>Chat history</h3>
<div class="chat-history">
    <p ng-repeat="chatMsg in ctrl.chatMessages | orderBy:'-'">
        <strong>{{chatMsg.author}}:</strong>
        {{chatMsg.message}}
    </p>
</div>
